<!doctype html>
<html>
   <body>
		<a href="/">< home</a> 
		
      <h1>Angajati pe Departament:</h1>
	  
	  <ul>
		{% for departmentemployees in departmentsemployees %}
			<li>
				Id Departament: {{ departmentemployees.dept_no }} <br>
				Nr angajati: {{ departmentemployees.count }}
			</li>
		{% endfor %}
	  </ul>
      
   </body>
</html>