<!doctype html>
<html>
   <body>
		<a href="/">< home</a> 
		
      <h1>Departamente:</h1>
	  
	  <ul>
		{% for department in departments %}
			<li>
				Id: {{ department.dept_no }} <br>
				Nume: {{ department.dept_name }}
			</li>
		{% endfor %}
	  </ul>
      
   </body>
</html>