<!doctype html>
<html>
   <body>
		<a href="/">< home</a>
		
		<h1>Top {{x}} Salarii:</h1>
      <ul>
		{% for salary in salaries %}
			<li>
				Locul: {{ salary.no }} <br>
				Salariul: {{ salary.salary }}
			</li>
		{% endfor %}
	  </ul>
   </body>
</html>