<!doctype html>
<html>
   <body>
		<a href="/">< home</a> 
		
      <h1>Angajati pe Functii:</h1>
	  
	  <ul>
		{% for title in titles %}
			<li>
				Job: {{ title.title }} <br>
				Nr angajati: {{ title.count }}
			</li>
		{% endfor %}
	  </ul>
      
   </body>
</html>